In [1]:
tup = (1,2,3)

In [2]:
for num in tup:
    print(num)

1
2
3

In [3]:
for num in range(20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
for num in range(5):
    print(num)

0
1
2
3
4

In [15]:
for num in range(3,10,3):
    print(num)

3
6
9

how to assign them to a list or typle

In [16]:
range(4,6)

range(4, 6)

In [26]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [21]:
print(li)

range(4, 6)

In [27]:
li = list(range(3,4))

In [28]:
li

[3]

In [34]:
list(range(3,0,-1))

[3, 2, 1]

In [30]:
print(num)

range(3, 2)

inumerate function
the inumerate function can be useful when you cannot remember the index and you have to print the index to find out which value is store at which index

In [41]:
sentence  = "this is some kind of sentence"
count_letter = 0
for letter in sentence:
    print(f"letter {letter} is at {count_letter} position")
    count_letter +=1

letter t is at 0 position
letter h is at 1 position
letter i is at 2 position
letter s is at 3 position
letter   is at 4 position
letter i is at 5 position
letter s is at 6 position
letter   is at 7 position
letter s is at 8 position
letter o is at 9 position
letter m is at 10 position
letter e is at 11 position
letter   is at 12 position
letter k is at 13 position
letter i is at 14 position
letter n is at 15 position
letter d is at 16 position
letter   is at 17 position
letter o is at 18 position
letter f is at 19 position
letter   is at 20 position
letter s is at 21 position
letter e is at 22 position
letter n is at 23 position
letter t is at 24 position
letter e is at 25 position
letter n is at 26 position
letter c is at 27 position
letter e is at 28 position

so to avoid this printing of positon we can use the inumerate function

In [43]:
sentence  = "this is some kind of sentence"

for index,letter in enumerate(sentence):
    print(f"letter {letter} is at {index} position")

letter t is at 0 position
letter h is at 1 position
letter i is at 2 position
letter s is at 3 position
letter   is at 4 position
letter i is at 5 position
letter s is at 6 position
letter   is at 7 position
letter s is at 8 position
letter o is at 9 position
letter m is at 10 position
letter e is at 11 position
letter   is at 12 position
letter k is at 13 position
letter i is at 14 position
letter n is at 15 position
letter d is at 16 position
letter   is at 17 position
letter o is at 18 position
letter f is at 19 position
letter   is at 20 position
letter s is at 21 position
letter e is at 22 position
letter n is at 23 position
letter t is at 24 position
letter e is at 25 position
letter n is at 26 position
letter c is at 27 position
letter e is at 28 position

# zip
it is used for ziping two or more list

In [44]:
list1 = [{'key1':'name'},{'key2':'roll'}]
list2 = [1,2]
for item in zip(list1,list2):
    print(item)

({'key1': 'name'}, 1)
({'key2': 'roll'}, 2)

In [51]:
for a,b in zip(list1,list2):
    print(f"{a.keys()}{b}")

dict_keys(['key1'])1
dict_keys(['key2'])2

In [52]:
list3 = [1,2,3,4,5]
list4 = [22.2,33,44.3]
zip(list3,list4)

In [53]:
for item in zip(list3,list4):
    print(item)

(1, 22.2)
(2, 33)
(3, 44.3)

In [55]:
for a,b in zip(list3,list4):
    print(f"{a}\t{b}")

1	22.2
2	33
3	44.3

# in keyword
it is used to check if the object is in the list

In [56]:
 1 in [1,2,3,4,1]

True

In [57]:
'rohit' in ['rohit','bhushan']

True

In [61]:
'no' in {'key1':'yes','key2':'no'}

False

In [63]:
'no' in {'key1':'yes','no':'no'}

True

In [64]:
'no' in {'key1':'yes','key2':'no'}.values()

True

min and max function

In [66]:
min(list3)

1

In [67]:
max(list4)

44.3

getting a function form library

In [69]:
from random import shuffle
myList = [7,6,5,4,3,2,1]

In [72]:
shuffle(myList)

In [73]:
myList

[7, 4, 2, 3, 6, 1, 5]

In [75]:
myList.sort()

In [76]:
myList

[1, 2, 3, 4, 5, 6, 7]

In [78]:
from random import randint
num  = randint(0,19)

In [79]:
num

16

In [80]:
input('Enter a number')

Enter a number3

'3'

In [81]:
input()

3

'3'

In [82]:
num = input('enter a number')

enter a number33

In [84]:
num

'33'

In [85]:
fav_num = int(input('enter number:'))

enter number:33

In [86]:
fav_num

33

In [90]:
nu = list(input('enter number:'))

enter number:5,3

In [91]:
nu

['5', ',', '3']