In [1]:
my_list = [33,44,55]

In [2]:
print(f"my list is {my_list}")

my list is [33, 44, 55]

In [3]:
my_list[1:]

[44, 55]

In [4]:
my_list[::-1]

[55, 44, 33]

In [5]:
new_list = ["I am going to be billionaire",1000000000,"have a big house"]

In [7]:
print("list is {}".format(new_list))

list is ['I am going to be billionaire', 1000000000, 'have a big house']

In [12]:
print("list slicing first member:{}".format(new_list[0].upper()))

list slicing first member:I AM GOING TO BE BILLIONAIRE

In [13]:
type(new_list)

list

In [14]:
len(new_list)

3

In [15]:
print(f"new list is:{new_list[2]*2}")

new list is:have a big househave a big house

In [16]:
print(f"wholelist:{my_list + new_list}")

wholelist:[33, 44, 55, 'I am going to be billionaire', 1000000000, 'have a big house']

In [17]:
whole_list = my_list + new_list

In [18]:
print(f"whole list : {whole_list}")

whole list : [33, 44, 55, 'I am going to be billionaire', 1000000000, 'have a big house']

In [19]:
whole_list.append("love")

In [20]:
whole_list

[33,
 44,
 55,
 'I am going to be billionaire',
 1000000000,
 'have a big house',
 'love']

In [21]:
number =111110000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [22]:
number

111110000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [23]:
whole_list.count()

TypeError: count() takes exactly one argument (0 given)

In [25]:
whole_list.count(1)

0

In [26]:
whole_list

[33,
 44,
 55,
 'I am going to be billionaire',
 1000000000,
 'have a big house',
 'love']

In [27]:
whole_list.insert()

TypeError: insert() takes exactly 2 arguments (0 given)

In [28]:
whole_list.insert(2,"yes")

In [29]:
whole_list

[33,
 44,
 'yes',
 55,
 'I am going to be billionaire',
 1000000000,
 'have a big house',
 'love']

In [30]:
whole_list.pop(2)

'yes'

In [31]:
whole_list.insert("fuck")

TypeError: insert() takes exactly 2 arguments (1 given)

In [32]:
whole_list.pop();

In [33]:
whole_list

[33, 44, 55, 'I am going to be billionaire', 1000000000, 'have a big house']

In [34]:
whole_list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [35]:
my_list

[33, 44, 55]

In [36]:
type(my_list.sort())

NoneType

In [37]:
my_list.sort()

In [38]:
print(f"{my_list}")

[33, 44, 55]

In [39]:
my_new_list =['a','e','i','o','u']

In [40]:
print(f"{my_new_list}")

['a', 'e', 'i', 'o', 'u']

In [41]:
my_new_list[0]='z'
my_new_list[2]= 'f'
my_new_list [3] ='k'

In [42]:
my_new_list

['z', 'e', 'f', 'k', 'u']

In [43]:
my_new_list.sort()

In [44]:
print(f"{my_new_list}")

['e', 'f', 'k', 'u', 'z']

In [45]:
sorted_list = my_new_list
type(sorted_list)

list

In [46]:
sorted_list = my_new_list.reverse()

In [47]:
type(sorted_list)

NoneType

In [48]:
print(f"{my_new_list}")

['z', 'u', 'k', 'f', 'e']

In [52]:
my_new_list.reverse()
reverse_list =my_new_list

In [53]:
print(f"{reverse_list}")

['e', 'f', 'k', 'u', 'z']

In [54]:
reverse_list.pop()

'z'