# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [47]:
def lesser_of_two_evens(a,b):
    '''LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5'''
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [48]:
# Check
lesser_of_two_evens(2,4)

2

In [49]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [50]:
text = 'Levelheaded Llama'
text.split()[1][0]==text[0]

False

In [51]:
def animal_crackers(text):
      return text.split()[1][0].lower()==text[0].lower()

In [53]:
# Check
animal_crackers('Levelheaded Llama')

True

In [16]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [55]:
def makes_twenty(n1,n2):
    if n1==20 or n2 ==20:
        return True
    else:
        return n1+n2==20
        #retun n1==20 or n2==20 or n1+n2==20

In [56]:
# Check
makes_twenty(20,10)

True

In [57]:
# Check
makes_twenty(20,8)

True

In [58]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [14]:
def old_macdonald(name):
    return name[0:3].capitalize()+name[3:].capitalize()

In [15]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [32]:
def master_yoda(text):
    return " ".join(text.split()[::-1])

In [33]:
# Check
master_yoda('I am home')

'home am I'

In [34]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [62]:
abs(100-110)

10

In [35]:
def almost_there(n):
    return 90<n<110 or 190 <n < 210
#return abs(100-n) < = 10 or abs(200-n)<=10

In [36]:
# Check
almost_there(104)

True

In [37]:
# Check
almost_there(150)

False

In [38]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [95]:
def has_33(nums):
    '''Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.'''

    for pos in range(0,len(nums)-1):
        #if nums[pos] ==3 and nums[pos+1]==3:
         if nums[pos:pos+2] == [3,3]:
            return True

    return False

In [96]:
# Check
has_33([1, 3, 3,2,3,4,4])

True

In [97]:
# Check
has_33([1, 3, 1, 3])

[3]

False

In [91]:
# Check
has_33([3, 1, 3])

[]

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [98]:
def paper_doll(text):
    sta = '';
    for item in text:
        sta += item * 3
    return sta

In [99]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [100]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [61]:
def blackjack(a,b,c):
    if a+b+c <= 21:
        return a+b+c
    elif a+b+c > 21 and 11 in [a,b,c]:
        return a+b+c-10
    elif a+b+c > 21:
        return 'BUST'
    else:
        pass

In [62]:
# Check
blackjack(5,6,7)

18

In [63]:
# Check
blackjack(9,9,9)

'BUST'

In [64]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [86]:
def summer_69(arr):
    if 6 in arr:
        for pos,item in enumerate(arr):
            if item == 6:
                while pos <= len(arr):
                    if arr[pos]==9:
                        arr.remove(arr[pos])
                        break
                    else:
                        arr.remove(arr[pos])
                    
        print(arr)    
        return sum(arr)
        
    elif len(arr)==0:
        return 0
    else:
        return sum(arr)

In [87]:
# Check
summer_69([1, 3, 5])

9

In [88]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

[4, 5]

9

In [89]:
# Check
summer_69([2, 1, 6, 9, 11])

[2, 1, 11]

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [122]:
def spy_game(nums):
    for pos in range(0,len(nums)-1):
        if nums[pos] == 0:         
            for po in range(pos+1,len(nums)-1):
                if nums[po] == 0:
                    return 7 in nums[po+1:]
            return False

In [123]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [124]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [125]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [45]:
def count_primes(num):
    count=0
    flag=False
    for item in range(2,num+1):
        if item ==2:
            count +=1
        else:
            for deno in range(2,item):
                if item % deno == 0:
                    flag = False
                    break
                else:
                    flag =True
        if flag == True:
            count += 1
            
            
    return count

In [46]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
dic = ['a'= '  *   \n']
def print_big(letter):
    
    pass

In [ ]:
print_big('a')

## Great Job!